<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <style>
    * {
      background-color: rgb(216, 216, 216);
    }

    #canvas {
      border: 1px solid #999;
      margin: 1rem auto;
      display: block;
    }
  </style>
  <div id="eventosE">

  </div>

  <script src="../../dist/bundle.js"></script>
</body>

</html>