<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/style/main.css" />
  <script src="../assets/js/main.js"></script>
</head>

<body>
  <nav class="nav-bar">
    <a href="#">Home</a>
    <a href="#">Home</a>
    <a href="#">Home</a>
    <a href="#">Iniciar Sesion</a>
  </nav>
  <div class="container">
    <div class="cero one">
      <div class="presentacion">
        <h2>Calendario de Eventos</h2>
        <p>Para que lleves el registro de tus eventos y no te pierdas ninguno</p>
      </div>
      <div class="login-form">
        <form action="">
          <label for="">
            Nombre de Usuario:
          </label>
          <input type="text" required>
          <label for="">
            Correo:
          </label>
          <input type="email" required>
          <label for="">
            Password:
          </label>
          <input type="password" required>
          <button type="submit">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>