<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/style/pizarra.css" />
</head>

<body>
  <div class="container">
    <div class="pizarra">
      <h2>Proximos Eventos</h2>
      <div class="ventana">
        <div class="evento">
          <a href="#">
            <img src="https://picsum.photos/250/250/?image=4" alt="random">
            <h2 class="evento_title">14/12/2018 - Fiesta de la vendimia en Junin </h2>
          </a>
        </div>
        <div class="evento">
          <a href="#">
            <img src="https://picsum.photos/250/250/?image=3" alt="random">
            <h2 class="evento_title">15/12/2018 - Evento 2 </h2>
          </a>
        </div>
        <div class="evento">
          <a href="#">
            <img src="https://picsum.photos/250/250/?image=2" alt="random">
            <h2 class="evento_title">20/12/2018 - Fiesta de las Naciones en Junin </h2>
          </a>
        </div>
        <div class="evento">
          <a href="#">
            <img src="https://picsum.photos/250/250/?image=0" alt="random">
            <h2 class="evento_title">20/12/2018 - Mendotaku en el Parque </h2>
          </a>
        </div>
      </div>
      <div class="buttons">
        <button class="next"><</button>
        <button class="previous">></button>
      </div>
    </div>
  </div>
  <div class="other">
    <p>asdfasdfasdf</p>
  </div>
    <script src="../assets/js/pizarra.js"></script>
</body>
</html>