<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/style/pizarra.css" />
</head>
<body>
  <div class="container">
    <h2>Titulo no dinamico / html</h2>
    <div class="mySlider">
    </div>
  </div>
  <div class="other">
    <p>Other</p>
  </div>
  <script src="../assets/js/createPizarra.js"></script>
  <script src="../assets/js/pizarra.js"></script>
</body>

</html>