.pizarra {
  color: #000;
  overflow: hidden;
  padding: 15px 15px 10px 15px;
  font-family: sans-serif;
  margin: auto;

  .ventana {
    position: relative;
    display: flex;
    justify-content: center;

    .evento {
      background-color: #70397b;
      transition: all 0.8s;
      display: block;
      position: absolute;
      opacity: 0;
      margin-right: -200px;

      a {
        text-decoration: none;
        color: #fff;
      }

      h2 {
        margin: 10px 15px 10px 10px;
      }
    }

    .active {
      margin-right: 0px;
      opacity: 1;
    }
  }
}
.buttons {
  position: initial;
  display: flex;
  justify-content: center;

  button {
    width: 100px;
    background: #70397b;
    border: none;
    color: white;
    margin: 0 15px;
    cursor: pointer;
    height: 25px;
  }
}