* {
      /* background-color: rgb(216, 216, 216); */
    }

    img {
      cursor: pointer;
    }
    .selected { 
        outline: 5px dashed cornflowerblue;    
        z-index: 100;
    }
    img:hover {
      outline: 5px dashed grey;
    }
    .imgContainer {
      margin: 10px;
		}
    .waiting {
      width: 1vh;
      background: blue;
    }
    .imgsPreviews > button {
      margin-top: 5px;
		}
		.upload-btn-wrapper {
			position: relative;
			overflow: hidden;
			display: inline-block;
		}

		.upload-btn-wrapper button {
			font-size: 1.2em;
		}

		.upload-btn-wrapper input[type=file] {
			font-size: 100px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}

			